html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    color: #333333;
    background-color: #f4f4f4;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   
    margin: 0 0 35px;
    font-family: Khula;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.6em;
}

a {
    color: #26a5d3;
}

a:hover, a:focus {
    text-decoration: none;
    color: #00bfff;
}


/*Navigation*/
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #333333
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: none;
}

.navbar-custom a {
    color: #f4f4f4;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.actions {
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 20px;
    font-weight: 400;
}

.actions a {
    margin-right: 20px;
    color: #ffc266;
}

.actions a:hover {
    margin-right: 20px;
    color: #ff9900;
}

.carousel-caption h3 {
    color: rgba(255, 255, 255, 0.3);
    font-size: 15px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: none;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #333333;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .carousel-caption h3 {
        font-size: 30px;
    }
}


/*Landing page*/
.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align:center;
    color: #f4f4f4;

    /* background: url("../images/dribbble3.png") no-repeat bottom center scroll; */
    background-color: #333333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.slideshow { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}


.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.295);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    animation: imageAnimation 30s ease-in;  
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .overlay {
	opacity: 1;
}

.intro-body {
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.intro-body>.container {
    margin-top: 100px;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        margin-top:70px;
        font-size: 80px;
    }

    .intro-text {
        font-size: 25px;
    }
}

/*content section*/
.content-section {
    padding: 70px 0 40px 0;
}


.content-section h2 {
    font-size: 3.3em;
    font-weight: 400;
    line-height: 1.25em;
}

.content-section h3 {
    font-weight: 400;
    line-height: 1.25em;
}

.byline {
    color: #5b5b5b;
    display: block;
    font-size: 22px;
    margin-top: 0.5em;
    line-height: 1.5em;
    font-weight: 300;
    font-family: Source Sans Pro;
}

header
{
    margin: 0 0 1em 0;
}

header .byline
{
    margin-bottom: 3em;
}

#header .byline {
    color:rgb(255, 255, 255);
}

#contact .byline {
    color:rgb(255, 255, 255);
}

/*Foot Section */
footer {
    position: relative;
    overflow: hidden;
    padding: 6em 0 6em 0;
    background: #2b252c;
    color: #fff;
    text-align: center;
}

footer > h3 {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.25em;
}

footer p {
    font-size: 17px;
}

footer .copyright {
    text-align: center;
    color: rgba(128,128,128,0.75);
    font-size: 1.0em;
    cursor: default;
}

ul.icons {
    list-style: none;
    position: relative;
    background: rgba(128,128,128,0.05);
    border-radius: 4em;
    display: inline-block;
    cursor: default;
    margin: 60px 0;
}

ul.icons li a {
    display: inline-block;
    background: none;
    width: 3em;
    height: 2.5em;
    line-height: 2em;
    text-align: center;
    border-radius: 100%;
    border: 0;
    color: inherit;
}

ul.icons li a:hover {
    color: #ef8376;
}

.fa:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.control-label {
    font-weight: 300;
}
/*Carousel */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel .forward,
.carousel .backward {
    position: absolute;
    top: 50%;
    width: 6em;
    height: 12em;
    margin-top: -8em;
    cursor: pointer;
}

.carousel .forward {
    right: 0;
}

.carousel .backward {
    left: 0;
}

.carousel .forward:before,
.carousel .backward:before {
    content: '';
    display: block;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    background-color: rgba(72,57,73, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -3em;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.carousel .forward:after,
.carousel .backward:after {
    content: '';
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50%;
    margin: -1.5em 0 0 0;
    background: url("../images/arrow.svg") no-repeat center center;
}

.carousel .forward:after {
    right: -0.25em;
}

.carousel .backward:after {
    left: -0.25em;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.carousel .forward:before {
    right: -3em;
}

.carousel .backward:before {
    left: -3em;
}

.carousel .forward:hover:before,
.carousel .backward:hover:before {
    background-color: rgba(239,131,118, 0.75);
}

.page-scroll {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -webkit-transform;
    -moz-transition-duration: 1s;
}

.carousel-indicators .active {
    background-color: #a6a6a6;
}

.carousel-indicators li {
    border: 1px solid #a6a6a6;
}

/* Buttons */
		
.button
{
    position: relative;
    display: inline-block;
    background: #00EA4C89;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.65em 3em 0.65em 3em;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.round {
    margin-top: 60px;
    border: none;
    color: white;
    border-width: 2px;
    border-style: solid;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
  
.buttonshow li:nth-child(1) { 
    animation-delay: 0s; 
}
.buttonshow li:nth-child(2) { 
    animation-delay: 10s; 
}
.buttonshow li:nth-child(3) { 
    animation-delay: 20s; 
}
.buttonshow li:nth-child(4) { 
    animation-delay: 30s; 
}
.buttonshow li:nth-child(5) { 
    animation-delay: 40s; 
}
.buttonshow li:nth-child(6) { 
    animation-delay: 50s; 
}

ul {
    list-style-type: none;
}

.button:hover
{
    color: #fff;
    background: rgba(194,61,112, 0.2)
}

.buttonshow.button {
    animation: buttonColorAnimation 60s linear infinite; 
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 60s linear infinite; 
  }

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
.slideshow li:nth-child(1) { 
    background-image: url(../images/dribbble_colored.png) 
}
.slideshow li:nth-child(2) { 
    background-image: url(../images/dribbble_blue_colored.png);
    animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(../images/dribbble_yellow_colored.png);
    animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(../images/dribbble_green_colored.png);
    animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
    background-image: url(../images/dribbble_purple_colored.png);
    animation-delay: 40s; 
}
.slideshow li:nth-child(6) { 
    background-image: url(../images/dribbble_teal_colored.png);
    animation-delay: 50s; 
}